body {

  background-color : lightblue;
}

p {
	color: green;
	background-color: lightgray;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p:hover {                           /* Mise en forme lors du survol */
    background-image: url=();       /* Chemin relatif */
    border: 1px solid #000000;      /* Bordure */
    color: #000000;                 /* Couleur du texte */
    }	